@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkgreen;
}

p {
    color: darkred;
}